[submodule "Libraries/astc-encoder"]
	path = Libraries/astc-encoder
	url = https://github.com/Kode/astc-encoder.git
	branch = master
[submodule "Libraries/snappy"]
	path = Libraries/snappy
	url = https://github.com/Kode/snappy
	branch = master
